<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Galería de Arte</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos minima aspernatur ipsam at nulla tempora necessitatibus, quia itaque corrupti. Ipsum magni voluptas fugit adipisci ratione! Autem molestias assumenda iusto minus.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/galeria.png" class="img-fluid img-proyecto" alt="Galería de Arte">
        </div>

    </div>
</div>
