<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/cecifotoo.jpg" class="img-fluid" id="fotoperfil" alt="Foto Perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">María Cecilia Delfino</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum porro dicta tempore minima, 
                quaerat similique obcaecati magnam tenetur in assumenda mollitia et harum expedita eum cumque earum. 
                Mollitia, voluptatibus. Minima.</p>
        </span>
    </div>
</div>
