<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo1arg.png" id="logoAP" alt="Logo">
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/?hl=es"><img src="../../../assets/linkedin.png" alt="LinkdIn"></a>
            <a href=""><img src="../../../assets/instagram.png" alt="Instagram"></a>
            <a href=""><img src="../../../assets/github.png" alt="Github"></a>
            <a href=""><img src="../../../assets/facebook.png" alt="Facebook"></a>
            <a href=""><img src="../../../assets/twitter.png" alt="Twitter"></a>
            <button type="button" class="btn btn-outline-light">Login</button>
        </div>
    </div>
</div>


